/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    background-color: rgb(0, 0, 0);
    padding: 2px 15px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.title {
    color: aliceblue;
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    margin-left: 1em;

}

.filter {
    display: flex;
}

.filter input {
    padding: 4px 10px;
    width: 300px;
    border-radius: 3px;
    outline-color: rgb(29, 211, 29);

}

.filter button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 0;
    background-color: rgb(35, 195, 35);
    margin-left: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;

}

.filter button:hover {
    background-color: rgb(18, 132, 18);
}

.searchIcon {
    height: 14px;
}


.ShoppingCart {
    color: white;
    cursor: pointer;
    margin-right: 1.5em;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 5px;

}

.welcome p {
    color: white;
    font-family: Helvetica, sans-serif;
}

.user {
    color: white;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 25px;
    height: 30px;
    width: 30px;
}



.mainConten {
    padding-top: 55px;
}



/* center content */

.container-xl {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(224, 227, 227);
    min-height: 100vh;
    justify-content: center;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0.8em;
    width: 270px;
    height: 470px;
    padding: 10px 25px;
    border: 1px solid rgb(38, 189, 24);
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;

}

.textsContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.card img {
    height: 200px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 0.5em;
}

.card h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.card p {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 14px;
}

.card .price {
    color: rgb(109, 213, 5);
    font-weight: 900;
    font-size: 1.3em;
}

.buttonContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    gap: 5px;
}

.shopButton {
    width: 100px;
    padding: 5px;
    border: 0;
    background-color: rgb(35, 195, 35);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.shopButton:hover {
    background-color: rgb(18, 132, 18);
}

.shopButtonBuyNow {
    width: 100px;
    padding: 5px;
    border: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.shopButtonBuyNow:hover {
    background-color: rgb(93, 95, 93);
}









/* cart modal */

.modal-overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 350px;
    background: #fff;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.close-button {
    background: none;
    border: none;
    color: green;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding-top: 15px;
  /*   border-top: 1px solid #ccc; */
}

.modal-footer button {
    width: 100px;
    padding: 5px;
    border: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.modal-footer button:hover {
      background-color: rgb(93, 95, 93);
}


/* cart modal items */

.cartTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 178, 13);
}

.cartItem {
    margin-top: 2px;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid rgb(215, 219, 215);

}

.cartItem img {
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.cartItem_texts p {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cartItem_texts :nth-child(2) {
    color: rgb(4, 133, 4);
    font-weight: 700;
}